button{
    background: rgb(132,94,238);
    background: linear-gradient(180deg, rgba(132,94,238,1) 20%, rgba(101,44,209,1) 89%);
   color:#E5E7EB;
   border-radius: 32px;
   padding:15px 40px;
   border:none;
   font-weight: bold;
   font-size: 14px;
   margin-top: 20px;
}
.Buttoncontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}