.firststepcontainer{
      width:40%;
      height:40%;
      border: 1px solid #4D5562;
      border-radius: 16px;
      background-color: #212936;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 40px;

}

.row{
  width:100%;
  height:30%;
  padding-top: 15px;
}

form{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    
}

.text{
    font-size:20px;
    font-weight:bold;
    color:#E5E7EB;
    padding-bottom: 20px; 
}


.Appcontainer{
  width: 100%;
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  
}

.background_circle1{
  position: absolute;
  width: 40%;
  aspect-ratio: 1/1;
  top:-20%;
  left:-20%;
  background-image: url("../assets/blur-radial.svg");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
}

.background_circle2{
  position: absolute;
  width: 40%;
  aspect-ratio: 1/1;
  bottom:-20%;
  right:-20%;
  background-image: url("../assets/blur-radial.svg");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
}